body {
  background-color: #eee;
}
header{
  display: flex;
  justify-content: space-around;
flex-direction: row;
align-items:flex-start;
h1 {
  width: 500px;
  font-size: 1em;



}
.img1
{
  width: 100px;
position: absolute;
}
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top : 3em;

}
.nav-bar a {

  float: left;
  display: flex;
  justify-content: space-around;
  color: black;

  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;

  }
.floating-image{
  width:1500px;

}
image-containter{
  color: black;
}
.image-text{
  color: gray;
  font-size: 1em;
}
.news-head{
  display:flex;
  justify-content: space-between;
}
score-card {
color:gray;
}
.score-head{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color: gray;
}

.score-item{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
weather{

}
.city{
  font-size: 2em;

  display:flex;
  flex-direction:column;
}
.cur-temp {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.weather-days {
  display: flex;
  justify-content: space-around;
}
.bottom-news-head{
  display: flex;
  justify-content: space-between;
}
.bottom-news-body {
  width: 50%;
}
footer{
  display:flex;
  justify-content: space-around;
}
